
/* regole universali css */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.overlay::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
/* /regole universali css */

/* regole container per centratura orizzontale pagina */
div.main-container {
  width: 75%;
  margin: auto;
}
/* /regole container per centratura orizzontale pagina */

/* regole css header */

header img{
  height: 10vh;
  margin-bottom: 4vh;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: #B2B2B2;
  font-size: 18px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}


/* /regole css header */

/* regole css per sezione hero */
section.hero {
  margin: 3vh 0;
  position: relative;
}

.hero img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  border-radius: 20px;
}

section .text-container{
  width: 50%;
  position: absolute;
  left:5%;
  bottom: 15%;
  color: #FCF8F7;
  z-index: 10;
}

h3.section-title{
  font-weight: normal;
  font-size: 28px;
}

.hero p {
  font-size: 18px;
}
/* /regole css per sezione hero */

/* regole css per sezione contenuti principali con layout float */
section.content-container {
  height: 1000px;
  margin: 0 0 1% 0;
}

div.title-bar {
  padding: 2vh 0;
  margin-bottom: 2%;
}

h2.main-title {
  font-size: 40px;
}

h3.main-subtitle{
  font-weight: normal;
  font-size: 18px;
  color: #9E9E9E;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);

}

div.row {
  height: 86%;
}


div.left-col, div.right-col {
  height: 100%;
  width: 20%;
  float: left;
  }

div.img-box{
  position: relative;
}

.left-col img {
  width: 100%;
  border-radius: 20px;
}

.right-col img {
  height: 227.88px;
  width: 100%;
  object-fit: cover;

}

h3.column-title {
  font-weight: normal;
  font-size: 16px;
  color: #4F4F4F;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);

}

p.column-text {
  font-weight: normal;
  font-size: 16px;
  color: #CFCFCF;
}


div.center-col {
  height:100%;
  width:56%;
  margin: 0 2% 0 2%;
  background-color: #ABCFE7;
  float: left;
}
/* /regole css per sezione contenuti principali con layout float */

/* regole xss footer */
footer {
  background-color: #8801FE;
  height: 75px;
  margin: 0 0 4% 0;
}
/* /regole xss footer */
