
/* regole universali css */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* /regole universali css */

/* regole container per centratura orizzontale pagina */
div.main-container {
  width: 75%;
  margin: auto;
}
/* /regole container per centratura orizzontale pagina */

/* regole css header */
header {
  background-color: #E579E6;
  height: 150px;
  margin: 3% 0 ;
  
}
/* /regole css header */

/* regole css per sezione hero */
section.hero {
  background-color: #E3D67A;
  height: 600px;
  margin: 3% 0;
}
/* /regole css per sezione hero */

/* regole css per sezione contenuti principali con layout float */
section.content-container {
  background-color: #0186FF;
  height: 1000px;
  margin: 0 0 1% 0;
}

div.title-bar {
  height: 10%;
  background-color: #ABCFE7;
  margin-bottom: 2%;
}

div.row {
  height: 86%;
}


div.left-col, div.right-col {
  height: 100%;
  width: 20%;
  background-color: #ABCFE7;
  float: left;
}

div.center-col {
  height:100%;
  width:56%;
  margin: 0 2% 0 2%;
  background-color: #ABCFE7;
  float: left;
}
/* /regole css per sezione contenuti principali con layout float */

/* regole xss footer */
footer {
  background-color: #8801FE;
  height: 75px;
  margin: 0 0 4% 0;
}
/* /regole xss footer */
